In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
#configurations
file_path=r'C:\Users\ADMIN\Desktop\UseCase1_EDAOutput.xlsx'

In [3]:
customer_data=pd.read_excel(file_path)

In [4]:
customer_data.head()

,id,perc_premium_paid_by_cash_credit,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type,...,Age,Age_disc,Age_disc_labels,Income_disc,Income_disc_labels,perc_premium_paid_by_cash_credit_disc,no_of_prem_paid_disc,Premium_disc,Premium_disc_labels,Count_total_premiums_paid_late
0,110936,0.429,355060,0,0,0,99.02,13,C,Urban,...,33,"(30, 40]",Q2,"(0, 1000000]",<10l,"(0.4, 0.5]","(7.8, 13.6]","(1200.0, 7080.0]",1-7k,0
1,41492,0.010,315150,0,0,0,99.89,21,A,Urban,...,59,"(50, 60]",Q4,"(0, 1000000]",<10l,"(-0.001, 0.1]","(19.4, 25.2]","(12960.0, 18840.0]",12-18k,0
2,31300,0.917,84140,2,3,1,98.69,7,C,Rural,...,48,"(40, 50]",Q3,"(0, 1000000]",<10l,"(0.9, 1.0]","(1.999, 7.8]","(1200.0, 7080.0]",1-7k,6
3,19415,0.049,250510,0,0,0,99.57,9,A,Urban,...,42,"(40, 50]",Q3,"(0, 1000000]",<10l,"(-0.001, 0.1]","(7.8, 13.6]","(7080.0, 12960.0]",7-12k,0
4,99379,0.052,198680,0,0,0,99.87,12,B,Urban,...,86,"(80, 90]",Q7,"(0, 1000000]",<10l,"(-0.001, 0.1]","(7.8, 13.6]","(7080.0, 12960.0]",7-12k,0

In [50]:
#Splitiing into train and test data before doing encoding on categorical values.
X=customer_data[['perc_premium_paid_by_cash_credit','no_of_premiums_paid','Count_total_premiums_paid_late']]
y=customer_data.target
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,
                                                    random_state=0)
print(X_train.shape, X_test.shape)
print(y_train.shape,y_test.shape)

(55897, 3) (23956, 3)
(55897,) (23956,)

In [51]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])] ## Replace X with your indepedent data type
vif_s =pd.Series(vif, index =X.columns)
print(vif_s)

perc_premium_paid_by_cash_credit    1.650234
no_of_premiums_paid                 1.494922
Count_total_premiums_paid_late      1.237535
dtype: float64

In [52]:
#Before calling the logistic regressor lets do the standard scaling
from sklearn.preprocessing import StandardScaler
X_train_m1=X_train
X_test_m1=X_test
y_train_m1=y_train
y_test_m1=y_test

# set up the scaler
scaler = StandardScaler()

In [53]:

# fit and transform train and test sets
X_train_scaled=scaler.fit_transform(X_train_m1)
X_test_scaled=scaler.fit_transform(X_test_m1)

# let's transform the returned NumPy arrays to dataframes 

X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns)

In [54]:
X_train_scaled.head()

,perc_premium_paid_by_cash_credit,no_of_premiums_paid,Count_total_premiums_paid_late
0,0.839170,1.182199,-0.367055
1,1.550154,0.409076,2.483884
2,0.435880,-0.364048,-0.367055
3,-0.935304,-1.523733,1.533571
4,-0.872571,-0.170767,-0.367055

In [55]:
from sklearn.linear_model import LogisticRegression

In [56]:
classifier=LogisticRegression()

In [57]:
classifier.fit(X_train_scaled,y_train)

LogisticRegression()

In [58]:
y_pred=classifier.predict(X_test)

In [59]:
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,recall_score,f1_score,log_loss

In [60]:
accuracy_score(y_test,y_pred)

0.9340457505426616

In [61]:
precision_score(y_test,y_pred)

0.9483372666809697

In [62]:
f1_score(y_test,y_pred)

0.9654886199816521

In [63]:
confusion_matrix(y_test,y_pred)

array([[  275,  1204],
       [  376, 22101]], dtype=int64)

In [64]:
log_loss(y_test,y_pred)

2.278019261114746

In [65]:
recall_score(y_test,y_pred)

0.9832717889398052

In [66]:
from sklearn.tree import DecisionTreeClassifier

In [67]:
classifier1=DecisionTreeClassifier()

In [68]:
classifier1.fit(X_train_scaled,y_train)

DecisionTreeClassifier()

In [70]:
y_pred=classifier1.predict(X_test_scaled)

In [71]:
print(precision_score(y_test,y_pred))
print(accuracy_score(y_test,y_pred))
print(f1_score(y_test,y_pred))

0.9474774179334655
0.9095842377692436
0.9520499424422209

In [72]:
print(confusion_matrix(y_test,y_pred))

[[  287  1192]
 [  974 21503]]